---
name: "Rust Test"
"on":
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  rust_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions/checkout@v6
      - name: Install rust stable
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Run cargo test
        run: |
          cargo test
      - name: Run cargo test --release
        run: |
          cargo test --release
